{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Resale a Business Category Flat Bootstrap Responsive Website Template | Post Ad :: w3layouts</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->	
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
<link href="{% static 'css/jquery.uls.css' %}" rel="stylesheet"/>
<link href="{% static 'css/jquery.uls.grid.css' %}" rel="stylesheet"/>
<link href="{% static 'css/jquery.uls.lcd.css' %}" rel="stylesheet"/>
<!-- Source -->
<script src="{% static 'js/jquery.uls.data.js' %}"></script>
<script src="{% static 'js/jquery.uls.data.utils.js' %}"></script>
<script src="{% static 'js/jquery.uls.lcd.js' %}"></script>
<script src="{% static 'js/jquery.uls.languagefilter.js' %}"></script>
<script src="{% static 'js/jquery.uls.regionfilter.js' %}"></script>
<script src="{% static 'js/jquery.uls.core.js' %}"></script>
<script>
			$( document ).ready( function() {
				$( '.uls-trigger' ).uls( {
					onSelect : function( language ) {
						var languageName = $.uls.data.getAutonym( language );
						$( '.uls-trigger' ).text( languageName );
					},
					quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
				} );
			} );
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/easy-responsive-tabs.css' %}" />
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
</head>
<body>
<div class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><span>Re</span>sale</a>
			</div>
			<div class="header-right">
				<a class="account" href="{% url 'myposts' %}?email={{ email }}">My Posts</a>
	</div>	
			
			
	<!-- Large modal -->
			
				
		</div>
	</div>
	<div class="banner text-center">
	  <div class="container">    
			<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
			<p>Resale: because good things shouldn't go to waste.</p>
			<a href="{% url 'postad' %}?email={{ email }}">Post Free Ad</a>
	  </div>
	</div>
	<form action= "{% url 'postad' %}?email={{ email }}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		
	<div class="submit-ad main-grid-border">
		<div class="container">
			<h2 class="head">Post an Ad</h2>
			<div class="personal-details">
				<form action= "{% url 'postad' %}" method="POST">
					{% csrf_token %}
					<label>Name<span>*</span></label>
						<input type="text" name="oname" class="name" placeholder="">
						<div class="clearfix"></div>
			
					
					<label>Select Category <span>*</span></label>
					<select name="subcat" class="">
					  <option>Select Category</option>
					  {% for subcat in subcat %}
					  		<option>{{subcat.type}}</option>
						{% endfor %}
					</select>
					<div class="clearfix"></div>
					<label>Product name <span>*</span></label>
					<input type="text" name="name" class="phone" placeholder="">
					<div class="clearfix"></div>
					<label>Product description <span>*</span></label>
					<input type="text" name="desc" class="mess" placeholder="Write few lines about your product">					
					<div class="clearfix"></div>
					<div class="post-ad-form">
				<div class="upload-ad-photos">
					<label>Product Image <span>*</span></label>
					<input type="file" name="image" accept="image/*" required>
					<div class="clearfix"></div>
			
				
					<div class="clearfix"></div>
						<script src="{% static 'js/filedrag.js' %}"></script>
				</div>
			</div>
					<div class="personal-details">
						
					
						<label>Brand <span>*</span></label>
						<input type="text" name="brand" class="name" placeholder="">
						<div class="clearfix"></div>
						<label>Cost <span>*</span></label>
						<input type="text" name="cost" class="name" placeholder="">
						<div class="clearfix"></div>
						<label>Offer<span>*</span></label>
						<input type="text" name="offer" class="name" placeholder="">
						<div class="clearfix"></div>
						<p class="post-terms">By clicking <strong>post Button</strong> you accept our <a href="terms.html" target="_blank">Terms of Use </a> and <a href="privacy.html" target="_blank">Privacy Policy</a></p>
						<div class="post-ad-form"><input type="submit" value="Post"></div>	
									
					<div class="clearfix"></div>
					
					</div>
			</div>
		</form>
		</div>	
	</div>
	
</body>
</html>